name: wisatacandi
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter 
  cached_network_image: ^3.4.1
  shared_preferences: ^2.1.0
  sqflite: ^2.3.0                   
  sqflite_common_ffi: ^2.3.0        
  sqflite_common_ffi_web: ^0.4.1    
  path_provider: ^2.1.1             
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
  - images/
